<head>
	<style type="text/css">
	
     #d1 {
         text-align: center;
         width: 600px;
         padding-left: 14px;
         margin-top: 80px;
         margin-left: 370px;
         background-color: #f2f2f2;
         border-top-style: outset;
        border-left-style: outset;
        border-bottom-style: inset;
        border-right-style: inset;
        border-radius: 8px;
 
    } 


	</style>

	
{% extends 'base.html' %}

{% block body %}
<div class="container" id="d1">
    <h1 style="font-family: TimeNewRoman; font-size: 45px;"><strong>Password reset</strong></h1>
    <br>
    <p>
        Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
    </p>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="btn btn-primary btn-lg" type="submit">Reset password</button>
        <br>
        <br>
    </form>
</div>
{% endblock %}
</head>