<head>
<style type="text/css">
	
	#d1 {
         text-align: center;
         width: 600px;
         padding-left: 14px;
         margin-top: 80px;
         margin-left: 370px;
         background-color: #f2f2f2;
         border-top-style: outset;
        border-left-style: outset;
        border-bottom-style: inset;
        border-right-style: inset;
        border-radius: 8px;
 
    }

</style>
{% extends 'base.html' %}

<body>
{% block body %}
<div class="container" id="d1">
    <h1 style="font-family: TimesNewRoman; font-size: 45px;"><strong>Your Password has been successfully reset.</strong></h1>
    <br>
    
    <p>
        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
    </p>
</div>
{% endblock %}
</body>
</head>