{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      
    </div>
    <div class="col-md-6">
      
      <hr>
      <a href="diseases/check/2/"><button type="button" class="btn btn-warning">Answer</button></a>

      {% for quest in questions %}
        <h4>{{quest.question}}</h4>
         {{ quest.question[3] }}


        <a href="check/{{quest.id}}/"><button type="button" class="btn btn-warning">Answer</button></a>
      
      {% endfor %}
     
      <h4>

    </div>
    <div class="col-md-3">
      
    </div>
  </div>
</div>
{% endblock %}